//Banner Wrapper
#banner-wrapper
	.5grid-layout
		.row
			.12u
				//Banner
				#banner{:class => "box"}
					.5grid
						.row
							.7u
								%h2
									Hi. This is Verti.
								%p
									It's a free responsive HTML5 site template by HTML5 Up!
							.5u
								%ul
									%li
										%a{:href => "#", :class => "button button-big button-icon button-icon-rarrow"}
											Register now!
									%li
										%a{:href => "#", :class => "button button-alt button-big button-icon button-icon-question"}
											More info
